.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem
}

.contactTitle {
    font-size: var(--size-2xl);
    color: var(--clr-slate400);
}

.contact p {
    font-size: var(--size-s);
    max-width: 60ch;
    color: var(--clr-slate600);
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}


/* XS */
@media (min-width: 475px) {
    .contact {
        gap: 1.5rem
    }
    
    .contactTitle {
        font-size: var(--size-3xl);
    }
    
    .contact p {
        font-size: var(--size-base);
    }

    .buttonContainer {
        flex-direction: row;
		row-gap: 25px;
    }
}

/* S */
@media (min-width: 640px) {}

/* M */
@media (min-width: 768px) {}

/* L */
@media (min-width: 1024px) {
    .contactTitle {
        font-size: var(--size-4xl);
    }
    
    .contact p {
        font-size: var(--size-l);
    }
}

/* XL */
@media (min-width: 1280px) {
    .contact {
        gap: 2rem
    }
    
    .contactTitle {
        font-size: var(--size-5xl);
    }
    
    .contact p {
        font-size: var(--size-xl);
    }
}

/* 2XL */
@media (min-width: 1536px) {
    .contactTitle {
        font-size: var(--size-6xl);
    }
    
    .contact p {
        font-size: var(--size-2xl);
    }
}