<section class="container featured">
	<h3>Projeto em destaque</h3>
	<div class="featuredLinkWrapper">
		<a href="{{featuredLink}}" target="_blank" class="featuredLink">
			<h2>{{featuredTitle}}</h2>
		</a>
	</div>
	<p class="projectDescription">
		{{featuredDescription}}
	</p>

	<article class="aboutProject">
		<div class="label">
			<h3>Tecnologias usadas:</h3>
			<ul>
				<li *ngFor="let tech of featuredTecnologies">{{tech}}</li>
			</ul>
		</div>

		<div class="label">
			<h3>Tipo do projeto:</h3>
			<p>{{featuredType}}</p>
		</div>

		<div class="label">
			<h3>Data da última versão:</h3>
			<p>{{featuredVersion}}</p>
		</div>
	</article>
</section>
