<section class="about container">
	<aside class="aboutContent">
		<h2 class="aboutTitle">Sobre mim</h2>
		<p>
			Meu nome é João, tenho {{ idade }} anos, atualmente
			<strong>
				curso ciência da computação da universidade Cruzeiro do Sul, e tenho
				previsão de formação para Dezembro/2026</strong
			>
		</p>
		<p>
			Eu sempre fui apaixonado pelo mundo da tecnologia e programação, quanto
			mais eu aprendo sobre programação e o mundo tech mais eu quero aprender,
			caso você queira me conhecer um pouco mais, você consegue me encontrar no
			<a
				href="https://www.linkedin.com/in/joao-ferreira-paula-ti/"
				target="_blank"
			>
				Linkedin
			</a>
		</p>
		<hr />
		<h3 class="aboutSubitle">Conhecimentos em</h3>
		<ul>
			<li>Python</li>
			<li>Excel</li>
			<li>SQL</li>
			<li>PowerBI</li>
			<li>Storytelling com dados</li>
			<li>Análise de dados</li>
		</ul>
	</aside>
	<figure>
		<img src="assets/images/myphoto.png" alt="My photo" />
	</figure>
</section>
