<section class="about container">
	<aside class="aboutContent">
		<h2 class="aboutTitle">Sobre mim</h2>
		<p>
			<strong>Buscando oportunidade</strong>, sou um desenvolvedor júnior na
			minha jornada de aprendizado e crescimento! Sou proativo, organizado e
			focado,
			<strong>principais habilidades: HTML, CSS, TypeScript e Angular.</strong>
		</p>
		<p>
			<strong>Buscando oportunidade</strong>, sou um desenvolvedor júnior na
			minha jornada de aprendizado e crescimento! Sou proativo, organizado e
			focado,
			<strong>principais habilidades: HTML, CSS, TypeScript e Angular.</strong>
		</p>
		<hr />
		<h3 class="aboutSubitle">Conhecimentos em</h3>
		<ul>
			<li>JavaScript</li>
			<li>CSS</li>
			<li>HMTL</li>
			<li>Angular</li>
			<li>Python</li>
			<li>TypeScript</li>
		</ul>
	</aside>
    <figure>
        <img src="https://files.fm/thumb_show.php?i=venyc97c3" alt="My photo">
    </figure>
</section>
