.footer {
    width: 100%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.footerTitle {
    display: block;
    font-size: var(--size-s);
    color: var(--clr-slate400);
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 0.1em;
    cursor: pointer;
}

@media (min-width: 640px) {
    .footerTitle {
        font-size: var(--size-base);
    }
}

@media (min-width: 1024px) {
    .footerTitle {
        font-size: var(--size-l);
    }
}