<div class="projectContainer">
	<h3 class="projectTitle">{{ projectName }}</h3>
	<figure class="imageWrapper" [ngStyle]="{'order': imageOrder}">
		<img src="{{projectImage}}" alt="Project image" />
	</figure>
	<article class="projectDetails" [ngStyle]="{'order': textOrder}">
		<h3 class="gridProjectTitle">{{ projectName }}</h3>
		<p class="description1">
			{{projectDescription1}}
		</p>
		<p class="description2">
			{{projectDescription2}}
		</p>
		<app-btn btnLink="{{projectLink}}" btnTarget="_blank" btnText="Ver projeto" />
	</article>
</div>
