<div class="projectContainer">
	<h3 class="projectTitle">{{ projectName }}</h3>
	<figure class="imageWrapper">
		<img src="http://via.placeholder.com/640x640" alt="Project image" />
	</figure>
	<article class="projectDetails">
		<h3 class="gridProjectTitle">{{ projectName }}</h3>
		<p class="description1">
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab reiciendis
			similique aliquid cum dignissimos!
		</p>
		<p class="description2">
			Commodi ullam in dolorum suscipit, deserunt nostrum repellendus labore
			molestias distinctio modi! Ut nulla enim fuga?
		</p>
		<app-btn btnText="Ver projeto" />
	</article>
</div>
