<figure class="container">
    <div class="imageWrapper">
        <img src="{{featuredImages[0]}}" alt="Project Image 1">
    </div>
    <div class="imageWrapper">
        <img src="{{featuredImages[1]}}" alt="Project Image 2">
    </div>
    <div class="imageWrapper">
        <img src="{{featuredImages[2]}}" alt="Project Image 3">
    </div>
    <div class="imageWrapper">
        <img src="{{featuredImages[3]}}" alt="Project Image 4">
    </div>
    <div class="imageWrapper">
        <img src="{{featuredImages[4]}}" alt="Project Image 5">
    </div>
    <div class="imageWrapper">
        <img src="{{featuredImages[5]}}" alt="Project Image 6">
    </div>
</figure>
