<section class="work container">
	<h2 class="workTitle">Projetos</h2>
	<p class="workDescription">
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. A, omnis commodi
		obcaecati quia rem eveniet tenetur esse, officiis dolor soluta assumenda
		dicta saepe, provident in ea. Repellat in maiores magni?
	</p>
	<!-- Projects -->
	<div class="projectsDescriptionContainer">
		<app-projects-images projectName="teste1" />
		<app-inverse-projects-images projectName="teste2" />
		<app-projects-images projectName="teste3" />
		<app-inverse-projects-images projectName="teste4" />
		<app-projects-images projectName="teste5" />
	</div>
</section>
