<section class="work container">
	<h2 class="workTitle">Projetos</h2>
	<p class="workDescription">
		Aqui estão alguns dos projetos que eu desenvenvolvi durante minha jornada de designer. Apesar de alguns deles serem simples e básicos ainda sinto orgulho deles pois todos fazem parte da minha jornada de aprendizado e sinto orgulho em dizer que eu fui o responsável por programar cada um deles.
	</p>
	<!-- Projects -->
	<div class="projectsDescriptionContainer">
		<app-projects-images projectId="1" />
		<app-projects-images gridType="inverse" projectId="2" />
		<app-projects-images projectId="3" />
		<app-projects-images projectId="4" gridType="inverse" />
	</div>
</section>
