.work {
    text-align: center;
    display: flex;
	flex-direction: column;
	gap: 1rem;
}

.workTitle {
    font-size: var(--size-2xl);
    color: var(--clr-slate200);
}

.workDescription {
    max-width: 60ch;
    font-size: var(--size-s);
    color: var(--clr-slate400);
    margin: 1rem auto;
}

.projectsDescriptionContainer {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

@media (min-width: 475px) {
    .workTitle {
        font-size: var(--size-3xl);
    }
    
    .workDescription {
        font-size: var(--size-base);
        margin: 1.5rem auto;
    }
    
}

@media (min-width: 640px) {
    .projectsDescriptionContainer {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }    
}

@media (min-width: 1024px) {
    .workTitle {
        font-size: var(--size-4xl);
    }
    
    .workDescription {
        font-size: var(--size-l);
    }
}

@media (min-width: 1280px) {
    .workTitle {
        font-size: var(--size-5xl);
    }
    
    .workDescription {
        font-size: var(--size-xl);
        margin: 2rem auto;
    }
}

@media (min-width: 1536px) {
    .workTitle {
        font-size: var(--size-6xl);
    }
    
    .workDescription {
        font-size: var(--size-2xl);
    }
}