header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem; 
}

/* XS */
@media (min-width: 475px) {}

/* S */
@media (min-width: 640px) {}

/* M */
@media (min-width: 768px) {}

/* L */
@media (min-width: 1024px) {}

/* XL */
@media (min-width: 1280px) {}
/* 2XL */
@media (min-width: 1536px) {}