ul {
	display: none;
}

@media (min-width: 768px) {
	ul {
		display: flex;
		align-items: center;
		list-style: none;
		padding: 0;
		gap: 2em;
	}

	a {
		font-size: var(--size-base);
		font-weight: 600;
		color: var(--clr-slate600);
		letter-spacing: -0.05em;
		transition: color 0.3s;
	}

	.verticalLine {
		border: 1px solid var(--clr-slate600);
		padding-top: 1.5em;
	}

	.lightMode {
		display: block;
		color: var(--clr-light);
		width: var(--size-2xl);
		height: var(--size-2xl);
	}

	a:hover {
		color: var(--clr-rose);
	}

	li {
		transition: scale 0.5s;
	}
	
	li:hover {
		transform: scale(1.1);
	}
	
	.lightMode:hover {
		transform: scale(1.2);
	}
}

@media (min-width: 1024px) {
  a {
		font-size: var(--size-l);
	}

	.lightMode {
		width: var(--size-3xl);
		height: var(--size-3xl);
	}
}

@media (min-width: 1280px) {
  a {
		font-size: var(--size-xl);
	}

	.lightMode {
		width: var(--size-4xl);
		height: var(--size-4xl);
	}
}
