<main class="hero container">
	<img src="assets/images/myPhotoMain.png" alt="my photo" />
	<h2>Olá! Eu sou o Luis Paulo! 😁</h2>
	<h1>Estudante de design</h1>
	<p>
		<strong>Buscando oportunidade</strong>, sou um designer em formação na minha
		jornada de aprendizado e crescimento! <br />
		<strong>Principais habilidades: Adobe Photoshop, Illustrator, Tipografia e Composição Visual.</strong>
	</p>

	<app-contact-btns></app-contact-btns>

	<div>
		<h3 class="titleCV">Veja meu currículo tradicional!</h3>
		<app-btn
			btnText="Visualizar"
			btnTarget="_blank"
			btnLink="https://drive.google.com/file/d/1G7cZUUrzRkz4hxKLlhHl2ipat4SyjK3I/view?usp=sharing"
		></app-btn>
	</div>
</main>
