<main class="hero container">
	<img
		src="https://vc689.pcloud.com/dpZ1ekpWdZcoCugcZYvys7ZZWrano7ZNVZZJLRZZAbcfr4PjqXFhpJUCkN26YXY3RgqX/20221224_210406~2.jpg"
		alt="my photo"
	/>
	<h2>Olá! Eu sou o João 😁</h2>
	<h1>Front-End<br />Angular developer</h1>
	<p>
		<strong>Buscando oportunidade</strong>, sou um desenvolvedor júnior na minha
		jornada de aprendizado e crescimento! <br />
		<strong>Principais habilidades: HTML, CSS, TypeScript e Angular.</strong>
	</p>
	<app-btn
		btnText="MEU CONTATO"
		btnTarget="_blank"
		btnLink="mailto:joaoferreirapaula005@gmail.com"
	/>
</main>
