<main class="hero container">
	<img src="assets/images/myPhotoMain.jpg" alt="my photo" />
	<h2>Olá! Eu sou o João Victor! 😁</h2>
	<h1>Estudante de dados</h1>
	<p>
		<strong>Buscando oportunidade</strong>, sou um desenvolvedor júnior na minha
		jornada de aprendizado e crescimento! <br />
		<strong>Principais habilidades: Python, Excel, SQL e PowerBI.</strong>
	</p>

	<section>
		<app-btn
			btnText="MEU CONTATO"
			btnTarget="_blank"
			btnLink="mailto:joaoferreirapaula005@gmail.com"
		/>
		<app-btn
			btnText="SE CONECTE COMIGO"
			btnTarget="_blank"
			btnLink="https://www.linkedin.com/in/joao-ferreira-paula-ti/"
			btnType="linkedin"
		/>
	</section>
</main>
